streamlit==1.24.1
pyproject-toml==0.0.10
pyttsx3==2.90
jsonschema==4.18.0
jsonschema-specifications==2023.6.1
streamlit-webrtc==0.45.1
librosa==0.10.0.post2
whisper==1.1.10
openai-whisper==20230314
openai==0.27.8
